
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
}
footer {
  background-color: rgba(7, 7, 7, 0.815);
  text-align: left;
  font: size 18px;
}
img {
  object-fit:cover;
  width: 100%;
  text-align: center;

}
.fuente {font-family: "Black Han Sans", sans-serif;
  font-weight: 400;
  font-style: normal;

}

/*para tablet hasta 991*/
@media (width <= 767px ) {

    div{
    text-align:center;
}
a{text-align: center;}
}