
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
}
footer {
  background-color: rgba(7, 7, 7, 0.815);
  text-align: left;
  font: size 18px;
}
.img-footer {
  object-fit:cover;
  width: 100%;
  text-align: center;
}
.img-carousel{
  height: 250px;
  object-fit: cover;
}

.fuente {
  font-family: "Black Han Sans", sans-serif;
  font-weight: 400;
  font-style: normal;

}


@media (width <= 767px ) {

    div{
    text-align:center;
}
a{text-align: center;}
}

/*para dispositivos tablet*/
@media (width>= 768px ) {
  .img-carousel{
    height: 350px;
    
  }
 
}
/*para dispositivos lg*/
@media (width>= 992px ) {
  .img-carousel{
    height: 500px;
    object-position: bottom;
    
  }
  .img-carousel-celular{
    object-position: 50% 80%;
  }
}